/* =============================================================================
   Base
   ========================================================================== */

/*
 * Add block display for HTML5 elements
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

/*
 * Add inline-block display for HTML5 elements
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio[controls],
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/*
 * 1. Add normal cursor
 *    Improves visual focus of page during mouse use in all browsers
 * 2. Add 100% font size
 *    Corrects text resizing oddly when font size is set using ems in IE6/7
 *    http://clagnut.com/blog/348/#c790
 * 3. Add vertical scrollbar
 *    Keeps page centered in all browsers regardless of content height
 * 4. Remove tap highlight color
 *    Improves visual appearance of containers during a delegated click 
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 5. Define maximum text display as 100% to document
 *    Corrects text displayed oddly after orientation change in handheld browsers
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
	cursor: default; /* 1 */
	font-size: 100%; /* 2 */
	overflow-y: scroll; /* 3 */
	-webkit-tap-highlight-color: transparent; /* 4 */
	-ms-text-size-adjust: 100%; /* 5 */
	-webkit-text-size-adjust: 100%; /* 5 */
}

/* 
 * 1. Define font as sans serif
 *    Addresses font family inconsistency between <textarea> and other set form elements
 * 2. Define font size as 100%
 *    Addresses text resizing ability in IE6/7 and consistency in form elements
 * 3. Remove margin
 *    Addresses margins handled incorrectly in IE6/7
 *    Addresses form element margins set oddly in FF3/4 S5 Chrome
 */

body,
input,
button,
select, 
textarea {
	font-family: sans-serif; /* 1 */
	font-size: 100%; /* 2 */
	margin: 0; /* 3 */
}

/*
 * 1. Remove border
 *    Improves readability when inside <a> element in all browsers
 * 2. Add high quality bicubic image resampling
 *    Improves visual appearance when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Remove outline
 * Improves appearance when active or hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a,
a:active,
a:hover {
	outline: none;
}

/*
 * Define outline as thin dotted
 * Improves appearance displayed oddly in C10
*/

a:focus {
	outline: thin dotted;
}

a {
	color: #0000EE;
}

a:visited {
	color: #551A8B;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Add bottom border
 * Corrects styling not present in IE7/8/9 S5 Chrome
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/*
 * Define font weight as bold
 * Corrects style set incorrectly to 'bolder' in FF3/4 S4/5 C10
*/

b, 
strong { 
	font-weight: bold; 
}

/*
 * Add italic font style
 * Corrects styling not present in S5 Chrome
 */

dfn {
	font-style: italic;
}

/*
 * Add yellow background and black text
 * Corrects styling not present in IE6/7/8/9
 */

mark {
	background: #FF0;
	color: #000;
}

/*
 * Define font family as monospace
 * Corrects font family set oddly in IE6 S5 C10
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

/*
 * Add line wrapping
 * Improves readability of pre-formatted text in all browsers
 */

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/*
 * Remove quotes
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
	quotes: none;
}

/* 2 */

q:before,
q:after {
	content: '';
	content: none;
}

/*
 * Define font size
 * Improves appearance in all browsers
 */

small {
	font-size: 75%;
}

/*
 * Define font size and alignment
 * Improves appearance without affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

dd {
	margin: 0 0 0 40px;
}

nav ul,
nav ol {
	list-style: none;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Define margin
 * Improves margin displayed oddly in IE6/7/8/9, S5, O11
 */

figure {
	margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Remove margin
 * Corrects styling in IE6/7
 */

form {
	margin: 0;
}

/*
 * Define consistent margin and padding
 */

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/*
 * Add negative left margin
 * Corrects alignment displayed oddly in IE6/7
 */

legend {
	*margin-left: -7px;
}

/*
 * Define consistent vertical alignment display in all browsers
 */

button,
input,
select,
textarea {
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}

/*
 * 1. Define line-height as normal
 *    Corrects FF3/4 setting it using !important in the UA stylesheet
 * 2. Make visible overflow
 *    Fixes spacing displayed oddly in IE6/7
 */

button,
input {
	line-height: normal; /* 1 */
	*overflow: visible;  /* 2 */
}

/*
 * 1. Display hand cursor for clickable form elements
 *    Improves usability and consistency of cursor style between image-type <input> and others
 * 2. Define appearance for clickable form elements
 *    Corrects inability to style clickable <input> types in iOS
 */

button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	cursor: pointer; /* 1 */
	-webkit-appearance: button; /* 2 */
}

/*
 * Define box sizing
 * Addresses box sizing set to content-box in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
}

/*
 * Define box sizing and appearance
 * Addresses box sizing set to border-box in S5 Chrome (include -moz to future-proof)
 * Addresses appearance set to searchfield in S5 Chrome
 */

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/*
 * Define no appearance
 * Addresses inner padding displaying oddly in S5 Chrome on OSX
 */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Remove inner padding and border 
 * Fixes appearance displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/*
 * 1. Disable default vertical scrollbar
 *    Corrects scrollbar displayed oddly in IE6/7/8/9
 * 2. Add top vertical alignment
 *    Improves readability and aligment in all browsers
 */

textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove spacing between table cells
 * Improves vertical and horizontal alignment in all browsers
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	padding: 0;
	text-align: left;
	vertical-align: middle;
}